
.thumbnail
{
    width: 140.75px;
    height: 93.75px;
}
.thumbnail:hover
{
    border-bottom: 4px solid red;
    margin-bottom: -4px;
}
#mainImage
{
    width:563px;
    height: 375px;
    margin-bottom: 15px;
}
.current
{
    border-bottom: 4px solid red;
    margin-bottom: -4px;
}